*{
    margin: 0;
    padding: 0;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient((rgba(18, 6, 184, 0.822)),(rgba(18, 6, 184, 0.822))), url(image/hybrid_cloud_hero.png)
        ;
background-position: center;
background-size: cover;
position: relative;
}